
@{
    ViewBag.Title = "Facultyes";
}

<h2>Facultyes</h2>

@{
//if(ViewBag.Scripts == null)
//{
//    ViewBag.Scripts = new List<string>();
//}

//ViewBag.Scripts.Add("1");
//ViewBag.Scripts.Add("2");


//var enumerator = ViewBag.Scripts.GetEnumerator();


//while (enumerator.MoveNext())
//{
//    Response.Write(enumerator.Current);
//}

}
