
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="~/img/img_1927-copy.jpg" style="">
    </div>
    <div class="mySlides fade">
        <img src="~/img/maxresdefault.jpg" style="">
    </div>
    <div class="mySlides fade">
        <img src="~/img/529135531.jpg" style="">
    </div>
</div>