
<div class="row">
    <div class="col-md-3">
        <div class="logo">
            <img src="~/img/logo-hy.png" alt="">
        </div>
    </div>
    <div class="col-md-6 ysu">
        <h4>Բարի գալուստ Երևանի պետական համալսարանի <p class="text-center">Իջևանի մասնաճյուղ</p></h4>
    </div>
    <div class="col-md-3">
        <div class="logo2">
            <img src="~/img/logo_ysu.png" alt="">
        </div>
    </div>
</div>
