
@{ 
    ViewBag.Title = "Faculty";
}

<div class="container">
    <div class="row">
        <div class="news">
            <div class="text-center">
                <h3>Բնական գիտությունների ֆակուլտետ</h3>
            </div>
        </div>
            <div class="col-md-4">
                <img src="./img/m_a_zagaryan-247x300.jpg" alt="">
                <h5 class="about">ՖԱԿՈՒԼՏԵՏԻ ԴԵԿԱՆ`<br> Մանվել Աշոտի Զաքարյան</h5>
                <h5 class="about">հեռ.` (+37494) 34-01-13</h5>
                <h5 class="about">էլ. փոստ`  mzakar@mail.ru, matinform.ephim@yandex.ru</h5>
            </div>
            <div class="col-md-8">
                <table id="customers">
                    <tr>
                      <td>Ծննդյան թիվը </td>
                      <td>08.08.1965 թ</td>
                    </tr>
                    <tr>
                      <td>Կրթությունը</td>
                      <td>1982-89թթ. ԵՊՀ մաթեմատիկայի ֆակուլտետ</td>
                    </tr>
                    <tr>
                      <td>Ծառայությունը</td>
                      <td>1984-1986թթ. խորհրդային բանակում</td>
                    </tr>
                    <tr>
                      <td>Աշխատանքային գործունեությունը</td>
                      <td>1989-1991թթ. Գոշի միջն. դպրոցում ուսուցիչ ,1997թ. ԵՊՀ ԻՄ դասախոս ,2008-2014թթ. “Բարձրագույն մաթեմատիկայի և ինֆորմատիկայի” ամբիոնի վարիչ</td>
                    </tr>
                    <tr>
                      <td>Գիտական գործունեությունը</td>
                      <td>2002թ. Գերմանիայի Զարլանդի համալսարանում /DAAD-ի շրջանակներում/
                          2004-2006թթ. Զարլանդի համալսարանում /Humbodt ծրագրի շրջանակներում
                          2010թ. ՈՒլմի համալսարանում</td>
                    </tr>
                  <tr>
                    <td>Գիտական հոդվածներ</td>
                    <td>1999թ. ֆ.մ.գ.թ. Հեղինակ է 9 գիտական հոդվածների և մեկ մեթոդական ձեռնարկի</td>

                  </tr>
                  <tr>
                    <td>Լեզուների իմացությունը</td>
                    <td>Հայերեն, ռուսերեն, անգլերեն, գերմաներեն</td>
                  </tr>
                  <tr>
                    <td>Ընտանեկան դրությունը</td>
                    <td>Ամուսնացած է, ունի երկու որդիներ</td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
<div class="container facultet">
    <div class="row">
        <div class="overlay">
            <p>Բնական գիտությունների ֆակուլտետը 1991թ. Իջևանում բացված տարածաշրջանային քոլեջի երեք ֆակուլտետներից մեկն էր, որի առաջին դեկանը եղել է ֆիզմաթ. գիտ. դոկտոր, պրոֆեսոր Վալերի Տեր-Անտոնյանը:
            1994թ. կառավարության որոշմամբ Իջևանի տարածաշրջանային քոլեջի բազայի վրա ստեղծվում է  ԵՊՀ Իջևանի մասնաճյուղը: Բնական գիտությունների ֆակուլտետում ընդունելությունը կատարվում էր «Մաթեմատիկա» և «Ֆիզիկա» մասնագիտությունների գծով: Ֆակուլտետը  ղեկավարում  էր ֆիզմաթ. գիտ. դոկտոր, պրոֆեսոր Ռոլանդ Ավագյանը:
            Հաշվի առնելով անտառաշատ մարզի բնական առանձնահատկություները` 2000թ. ֆակուլտետի կազմում ավելանում է «Անտառային և անտառապուրակային տնտեսություն» մասնագիտությունը, որի նպատակն էր մարզի անտառտնտեսությունները համալրել  բարձրակարգ մասնագետներով: Նույն թվականին «Մաթեմատիկա» և «Ֆիզիկա» մասնագիտությունների փոխարեն ընդունելություն է կատարվում «Կիրառական մաթեմատիկա և ֆիզիկա» մասնագիտությամբ` հնգամյա կրթությամբ:
            Հաշվի առնելով ԿԳՆ պահանջները` 2007թ. կատարվում է մասնագիտությունների փոփոխություն. «Մաթեմատիկա, ինֆորմատիկա և ֆիզիկա» մասնագիտությունը, որը գործում էր  2001թ-ից, փոխարինվում  է «Կիրառական մաթեմատիկա և ֆիզիկա» մասնագիտությամբ, իսկ «Անտառային և անտառպուրակային տնտեսություն» մասնագիտությունը` «Բնապահպանություն և բնօգտագործում»  մասնագիտությամբ:
            2004 թ. -ից շուրջ 10 տարի ֆակուլտետի դեկանը  ֆիզմաթ. գիտ. թեկնածու Արտակ Վոլոդյայի Ցուցուլյանն էր, իսկ 2014 թ. -ից  դեկանի պաշտոնակատար է ֆիզմաթ. գիտ. թեկնածու, դոցենտ Մանվել  Աշոտի Զաքարյանը:

            Ֆակուլտետն այժմ ունի երկու ամբիոն`

            Ծրագրավորման և ինֆորմացիոն տեխնոլոգիաների,
            Ընդհանուր մաթեմատիկայի և բնագիտության:
            Ֆակուլտետի կառուցվածքում գործում է  երկու  համակարգչային լաբորատորիա` հագեցած ժամանակակից լաբորատոր բազայով: Գործում է անվճար համացանց /ինտերնետ /:

            Այժմ ֆակուլտետում ուսուցումը կազմակերպվում է «Ինֆորմատիկա և կիրառական մաթեմատիկա» և «Քարտեզագրություն և կադաստրային գործ» մասնագիտությունների գծով:

            </p>
        </div>
    </div>
</div>