@using YSUIB.Models.Data;

@model List<Ambion>

<ul class="list-group">
    <a href="#"> <li class="list-group-item ">ԱՄԲԻՈՆՆԵՐ</li></a>
    <a href="#"><li class="list-group-item">ԲՆԱԿԱՆ ԳԻՏՈՒԹՅՈՒՆՆԵՐ</li></a>
    <a href="#"><li class="list-group-item">ՀՈՒՄԱՆԻՏԱՐ ԳԻՏՈՒԹՅՈՒՆՆԵՐ</li></a>
    <a href="#"><li class="list-group-item">ՏՆՏԵՍԱԳԻՏՈՒԹՅՈՒՆ</li></a>
    <a href="#"><li class="list-group-item">ԿԻՐԱՌԱԿԱՆ ԱՐՎԵՍՏ</li></a>

</ul>
